.contacts__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: $gray--light;
  background-color: $white;

  @include not-touch {

    &:hover,
    &:focus {
      color: $main-color;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
